
@datanerd:registry=https://artifacts.datanerd.us/artifactory/api/npm/newrelic-js-local/
//artifacts.datanerd.us/artifactory/api/npm/newrelic-js-local/:_password=QUtDcDhrOEVTNU1IYnl2TEp5RG5kTmt6d01UUlZrV3p5VDdXYlhrWXJlZ1E0cGdZQ2paN29FYVoySm9DamZlQ0VOZW5ldm1NVw==
//artifacts.datanerd.us/artifactory/api/npm/newrelic-js-local/:username=lamaral@newrelic.com
//artifacts.datanerd.us/artifactory/api/npm/newrelic-js-local/:email=ENTER_YOUR_EMAIL_HERE
//artifacts.datanerd.us/artifactory/api/npm/newrelic-js-local/:always-auth=true
